<!--
   Author shaoyang
   email:yushaoyang@WindRoader.com
   @createddate 2012-06-27 21:44:59 +0800
-->
 <script type="text/x-jquery-tmpl"  class="TemplateListActionView">
     <div id="templates">
     <h1>Protovis Template</h1>
      
      <form>
        <input type="text" placeholder="Add new template">
      </form>
      
      <div class="items"></div>
      
      <footer>
             <div class="count">Total:<span class="countVal"></span> Double Click template name to Edit </div>
      </footer>
     </div>
 </script>


<script  class="TemplateListActionScript">
(function() {
/*
TemplateListClientAction.class_eval do
begin
*/
var 
__bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

TemplateListActionScript={//instance methods/variable ref
   
   events : {
      "submit form": "create",
    },

    elements : {
      ".items": "items",
      ".countVal": "count",
      "form input": "input"
    },

    initialize:function(){
    	this.renderCount = __bind(this.renderCount, this);
        TemplateClient.bind("refresh change", this.renderCount);
    },

    create : function(e) {
      e.preventDefault();
      
      TemplateClient.create({
        name: this.input.val(),
      });
       
      return this.input.val("");
    },

    renderCount : function() {
      active = TemplateClient.length;
      this.count.text(active);
    },
     
}    
}).call(this);
/*
end
*/
</script>